* {
  margin: 0px;
  padding: 0px;
}

.toDoList {
  padding-top: 100px;
  padding-left: 50px;
  gap: 50px;
}

#taskAddButton {
  border-radius: 10px;
  color: whitesmoke;
  background-color: green;
  border: none;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0.9, 0.3, 1, 0.1);
  transition: 0.3s ease;
}

#taskAddButton:hover {
  background-color: blue;
  color: black;
}

#inputToDoList::placeholder,
#inputName::placeholder,
#inputPost::placeholder {
  color: #b6c3c5;
  font-weight: bold;
  padding-left: 20px;
}
#removeButton {
  margin-left: 50px;
  background-color: red;
  color: whitesmoke;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0.9, 0.3, 1, 0.1);
  transition: 0.3s ease;
  width: 10%;
}
#removeButton:hover {
  background-color: blue;
  color: black;
}

#editButton {
  background-color: orange;
  color: whitesmoke;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0.9, 0.3, 1, 0.1);
  transition: 0.3s ease;
  margin-left: 50px;
  width: 10%;
}
#editButton:hover {
  background-color: blue;
  color: black;
}
