* {
  margin: 0px;
  padding: 0px;
}

.toDoList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.addButton {
  display: flex;
  justify-content: center;
}
#taskAddButton {
  border-radius: 10px;
  color: whitesmoke;
  background-color: green;
  border: none;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0.9, 0.3, 1, 0.1);
  transition: 0.3s ease;

  width: 100px;
  height: 40px;
}

#taskAddButton:hover {
  background-color: blue;
  color: white;
}

#inputToDoList::placeholder,
#inputName::placeholder,
#inputPost::placeholder,
#inputTime::placeholder {
  color: #b6c3c5;
  font-weight: bold;
}
#removeButton {
  background-color: red;
  color: whitesmoke;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0.9, 0.3, 1, 0.1);
  transition: 0.3s ease;
  width: 100px;
  height: 40px;
}
#removeButton:hover {
  background-color: blue;
  color: white;
}

#editButton {
  background-color: orange;
  color: whitesmoke;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0.9, 0.3, 1, 0.1);
  transition: 0.3s ease;
  width: 100px;
  height: 40px;
}
#editButton:hover {
  background-color: blue;
  color: white;
}

#taskTable {
  color: blue;
}

#tasktable {
  border-collapse: collapse;
  text-align: center;
}

table {
  padding-top: 40px;
  width: 80%;
  margin-inline: auto;
}
th,
td {
  text-align: center;
  border-bottom: 1px solid #ddd;
  background-color: #b3ccff;
}

td:hover {
  background-color: whitesmoke;
}
th:hover {
  background-color: #ff9966;
}

input {
  width: 200px;
  padding: 10px;
}
